# images          #
###################
*.png
*.jpg
*.mp4

# log files #
#############
*.v2
*.gz
*.profile*

# profiles #
############
*.pb

# cache #
#########
*.pyc
data/checkpoints/inception.001-0.12.hdf5
data/checkpoints/inception.001-0.20.hdf5
